<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h1>Edit</h1>
    <form action="/students/<%=student._id%>?_method=PUT" method="POST">
        <div>
            <label for="name">name</label>
            <input type="text" id="name" name="student[name]" value="<%= student.name %>">
        </div>
        <div>
            <label for="surname">surname</label>
            <input type="text" id="surname" name="student[surname]" value="<%= student.surname %>">
        </div>
        
            <button>Edit</button>
    </form>
    <a href="/students/<%= student._id %>">Cancel</a>
</body>
</html>