<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New student</title>
</head>
<body>
    <form action="/students" method="POST">
        <div>
            <label for="name">Name</label>
            <input type="text"  id="name" name="student[name]" >
        </div>

        <div>
            <label for="surname">Surname</label>
            <input type="text"  id="surname" name="student[surname]" >
        </div>
        <div>
            <label for="age">Age</label>
            <input type="text"  id="age" name="student[age]" >
        </div>
        <button>Add student</button>
    </form>
</body>
</html>